.container {
  background-image: url("/banner_bg.jpg");
  background-size: cover;
  height: 85vh;
  border-radius: 1rem;
  margin: var(--primary-block-margin);
  color: white;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  padding: 2rem;
  margin-top: 3.5rem;
  position: relative;
  font-family: var(--secondary-font);
}

.hero_content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  gap: 1rem;
}

.hero_title {
  font-size: 4rem;
  text-align: center;
}

.hero_text {
  text-align: center;
}

.hero_item {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.25rem 1rem;
  /* border-radius: 0.25rem; */
  backdrop-filter: blur(2px);
  font-family: var(--primary-font);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.hero_date {
  /* background-color: rgba(255, 255, 0, 0.2); */
  font-size: 1.25rem;
}

.hero_deadline {
  background-color: rgba(255, 0, 0, 0.2);
}

.button {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: 1px solid white;
  background-color: white;
  font-family: var(--primary-font);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.08);
}
