.container {
  color: white;
  background-color: whitesmoke;
  margin: var(--primary-block-margin);
  margin-top: 2rem;
  padding: var(--primary-block-padding);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  background-image: url(/details_bg.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
